<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MobChecker.Properties.Settings>
            <setting name="FirstLvlPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondLvlPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThirdLvlPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FourthLvlPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FifthLvlPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NeededPoints" serializeAs="String">
                <value>0</value>
            </setting>
        </MobChecker.Properties.Settings>
    </userSettings>
</configuration>